 
html,body {
    width: 100%;
    margin: 0;
    min-width: 550px;
    font-size: 18px;
    box-sizing: border-box;
}
.main {
    min-height: 70vh;
    min-width: 100%;
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center
}